<?php

use Uru\BitrixMigrations\BaseMigrations\BitrixMigration;
use Uru\BitrixMigrations\Exceptions\MigrationException;

class __className__ extends BitrixMigration
{
    /**
     * Run the migration.
     *
     * @return mixed
     * @throws \Exception
     */
    public function up(): void
    {
        //
    }

    /**
     * Reverse the migration.
     *
     * @return mixed
     * @throws \Exception
     */
    public function down(): void
    {
        //
    }
}
